html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: #292522 url(../images/bg.png) repeat center center;
    color: #3F3F3F;
    font: 16px/25px Arial, Helvetica, sans-serif;
    font-family: 'Goudy Bookletter 1911',Georgia,serif;
}
/*公共样式
    -------------------------------------------------*/
a{
    text-decoration: none;
    display: inline-block;
}
img{
    max-width: 100%;
}
/* 头部样式
    --------------------------------------------------*/
header {
    display: block;
    position: relative;
    padding-top: 28px;
    background-color: #E4000D;
}
header h1{
    position: relative;
    text-align: center;
    display: inline-block;
}

/*导航样式*/
nav{
    position: relative;
    float: right;
    padding-top: 55px;
    text-align: center;
}
nav li{
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
}
nav li a{
    padding: 0 20px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
}
nav li a:hover,nav li a.active{
    color: #ebcc96;
}
/*推荐菜系
    -------------------------------------------*/
.banner {
    padding-top: 49px;
}
.bann-capt{
    background-color: #E78E4E;
    color: #fff;
    padding-bottom: 22px;
    text-align: center;
}
.bann_title {
    margin: 0 90px;
    padding: 40px 0 20px;
    font-size: 30px;
    border-bottom: dashed 1px #fff;
    font-weight: 600;
    text-align: center;
}
.box-inner a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 65px;
}
.bc1{
    background-color: #91A148;
}
.bc2{
    background-color:#E5A649 ;
}